body {

    background-image: url('../imagenes/Fondo.png');
}

.container {
    width: 100%;
    max-width: 100%;
    max-height: 90px;
    margin: 0 auto;
    background-color: white;
}

.container {
    position: relative;
}

.productos-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.productos-btn:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(30, 78, 42);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(152, 211, 174)
}

.p1 {
    text-align: center;
    font-family: 'Brush Script MT', cursive;
    color: #3f9d42;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.seccion {
    flex: 1 1 30%;
    margin: 10px;
}

.seccion.texto {
    text-align: center;
}

.seccion img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: white;
    text-align: center;
    padding: 20px 0; /* Agregamos espacio alrededor del contenido */
    width: 100%;
}
.redes-sociales {
    margin-top: 10px;
  }
  
  .redes-sociales a {
    margin: 0 10px; /* Espacio entre las imágenes */
    display: inline-block;
  }
  
  .redes-sociales img {
    width: 30px; /* Ajusta el tamaño de las imágenes según sea necesario */
    height: 30px;
  }
.terminos-politica {
    color: black; /* Color del texto */
}






